* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

html, body, #root {
  height: 100%;
}

.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #111;
  color: white;
  padding: 16px;
}

.chat-item {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.chat-item:hover {
  background: #222;
}

.chat-item.active {
  background: #333;
}

/* Chat */
.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.chat-header {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.model-select {
  padding: 6px;
  border-radius: 8px;
}

/* Messages */
.chat-messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  display: flex;
  max-width: 60%;
  padding: 10px 14px;
  border-radius: 16px;
}

.message.user {
  align-self: flex-end;
  background: #4f46e5;
  color: white;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.message-wrapper.user {
  align-items: flex-end;
}

.message-wrapper.assistant {
  align-items: flex-start;
}

.message-hour {
  font-size: 12px;
  color: #9ca3af;
}


.message.assistant {
  align-self: flex-start;
  background: #e5e7eb;
}

/* Input */
.chat-input {
  display: flex;
  gap: 8px;
  padding: 12px;
}

.input-wrapper {
  position: relative;
  flex: 1;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 36px 10px 12px; /* espacio para el mic */
  border-radius: 8px;
  border: 1px solid #ccc;
}

.mic-inside {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: #9ca3af;
}

.mic-inside:hover {
  color: #4f46e5;
}

.send-button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: #4f46e5;
  color: white;
  cursor: pointer;
}
